*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

body{
    display: grid;

    grid-template-rows : 10vh 1fr 5vh;
    grid-template-columns: 1fr;

    grid-template-areas:
        'topo'
        'centro'
        'rodape';
}

#topo{
    grid-area: topo;
    max-height: 10vh;
    min-width: 1fr;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;

    grid-template-areas: 
        'topo-esquerda topo-meio topo-direita';

    background-color: #000000;
}

#topo-esquerda{
    grid-area: topo-esquerda;
    display: flex;
    align-items: center;
}

#topo-meio{
    grid-area: topo-meio;
}

#topo-direita{
    grid-area: topo-direita;
}

main{
    grid-area: centro;
}

footer{
    grid-area: rodape;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rodape{
    color: #FFFFFF;
    font-size: clamp(12px, 2.5vh, 24px);
}

#icone{
    height: auto;
    display: block;
    size: clamp(12px, 2.5vh, 24px);
}

select{
    width: auto;
    height: 50px;
    background-color: #63625F;
    color: #FFFFFF;
    border-style: solid;
    border-color: #00008B;
    border-width: 5px;
    border-radius: 20px;
}