body{
    margin: 0px;
}

header{
    background-image: linear-gradient(to right, #232397, #d4eaf2);
    height:75px;
    align-items: center;
    align-content:center;
}

#icone{
    width: 65px;
    border-radius: 30px;
    padding-left: 5px;
}

a{
    position: absolute;
    left:50%;
    font-size: 50px;
}